.wp{
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}


.app-bar{
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
}

.add-item{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-item:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.add-col{
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  height: fit-content;
  margin: 10px;
  width: 280px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.add-col:hover{
  background-color: rgba(0, 0, 0, 0.5);
  
}

.btn{
  position: absolute;
  right: 0;
  display: flex;
}

.btns{
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btns:hover{
  background-color: rgba(0, 0, 0, 0.5);
}